.repos {
  position: absolute;
  top: 30%;
  left: 45%;
}
.singleRepo {
  border-bottom: 1px solid rgb(225 228 232);
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: left;
}
.repoUrl {
  color: rgb(3 102 214);
  font-size: 20px;
}
.repoUrl:hover {
  text-decoration: underline;
}
.repoLang {
}
.repoOwner {
  font-size: 20px;
  color: rgb(36 41 46);
  font-weight: 600;
}
.repoDate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -38px 0 0 -17px;

  /* display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -37px; */
}
.repoSearch:focus {
  border-color: rgb(3 102 214);
  outline: none;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}
.repoSearch {
  display: flex;
  padding: 9px;
  border: solid 1px #a5a2a2;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 500px;
  background: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}
